/weechat/.weechat/sec.conf
/weechat/.weechat/urls.log
/weechat/.weechat/weechat.log
/weechat/.weechat/logs
default.json
vim/.vim/bundle/delimitMate/
vim/.vim/bundle/gist-vim/
vim/.vim/bundle/syntastic/
vim/.vim/bundle/vim-indent-guides/
vim/.vim/bundle/webapi-vim/
vim/.vim/bundle/
weechat/.weechat/weechat_crash_20160811_1001.log
