# Aliases for bash/zsh
alias l='exa -xa'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias g='git'
alias gs='git status'
alias pacu='yay -Syu --removemake --devel --answerdiff None --answeredit None\
            --answerclean None --ignore love && clear'
alias py='python'
alias batman='sudo pacman -Rns $(pacman -Qtdq) && pacaur -S polybar-git' # delete orphan packages
alias steam-wine='wine ~/.wine/drive_c/Program\ Files\ \(x86\)/Steam/Steam.exe'
alias mkdir='mkdir -p' # no error if existing, make parents directories as needed
# alias radeon='DRI_PRIME=1 VDPAU_DRIVER=radeonsi' # user DRI PRIME for dGPU
r='ranger --choosedir=$HOME/.rangerdir; LASTDIR=`cat $HOME/.rangerdir`; cd "$LASTDIR"'
alias :q='exit'
alias guitar="alsa_in -j MyGuitar -d'hw:Series,0,0' -p 128 -r 44100 -c 2 -q 1 &"
alias dim='xrandr --output DVI-I-0 --brightness 0.5'

unalias z 2> /dev/null
z() {
  [ $# -gt 0 ] && _z "$*" && return
  cd "$(_z -l 2>&1 | fzf --height 40% --nth 2.. --reverse --inline-info +s --tac --query "${*##-* }" | sed 's/^[0-9,.]* *//')"
}

alias j='z'

function spell {
    cat /usr/share/dict/words | fzf --preview 'wn {} -over | fold' \
        --preview-window=up:60%
}

function fold {
    if [ $# -eq 0 ]; then
        /usr/bin/fold -w $COLUMNS -s
    else
        /usr/bin/fold $*
    fi
}

function dic {
    if [ $# -eq 0 ] ; then
        wn `spell` -over
    else
        wn $1 -over
    fi
}
