# Aliases for bash/zsh
# twitch channels
alias santzo='twitch santzo'
alias tftv='twitch tftv'
alias ohn='twitch ohn'
alias prec='twitch prec'
alias dist='twitch dist'
alias gdq='twitch gamesdonequick'
alias tcc='twitchnotifier -c tacticcarrotcake -n' # Check for online channels

# global aliases
alias l='exa -xa'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias g='git'
alias svim='sudoedit'
alias pacget='pacaur -S'
alias pacu='pacaur -Syu && clear'
alias py='python'
alias batman='sudo pacman -Rns $(pacman -Qtdq) && pacaur -S polybar-git' # delete orphan packages
alias steam-wine='WINEDEBUG=-all wine ~/.wine/drive_c/Program\ Files\ \(x86\)/Steam/Steam.exe -no-cef-sandbox >/dev/null 2>&1  &'
alias mkdir='mkdir -p' # no error if existing, make parents directories as needed
# alias radeon='DRI_PRIME=1 VDPAU_DRIVER=radeonsi' # user DRI PRIME for dGPU
alias lsalias="alias | sed 's/=.*//'" # List aliases
alias nt='termite . &'
alias phone='kdeconnect-cli -d 35ae67aa3fec869'

# aliases for fasd
alias v='f -ae nvim '
alias m='f -ae mpv '
alias o='a -ae xdg-open'

# pastebin file and send link to clipboard
function pb() {
  pbpst -Sf "$1" | xclip -selection clipboard
}

unalias z 2> /dev/null
z() {
  [ $# -gt 0 ] && _z "$*" && return
  cd "$(_z -l 2>&1 | fzf --height 40% --nth 2.. --reverse --inline-info +s --tac --query "${*##-* }" | sed 's/^[0-9,.]* *//')"
}

alias j='z'
