configuration {
   font: "FantasqueSansMono 12";
   display-run: ">";
   case-sensitive: false;
   matching: "fuzzy";
   theme: "~/.cache/wal/colors-rofi-dark.rasi";
   window-format: "{w} {n} {t}";
   window-command: "i3-msg "\[id={window}\] move workspace current"";
   levenshtein-sort: true;
   sort: true;
}
