configuration {
   font: "FantasqueSansMono 12";
   display-run: ">";
   case-sensitive: false;
   matching: "fuzzy";
   theme: "Monokai.rasi";
   window-format: "{w} {n} {t}";
   window-command: "i3-msg "\[id={window}\] move workspace current"";
}
