! Configuración de recursos X
! 02 ene 2015 - E7
! vim: set ft=xdefaults:

! XFT - Fuentes
!----------------------------------------------------------------------

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.autohint: false
Xft.lcdfilter: lcddefault
Xft.hinting: 1
Xft.hintstyle: hintslight
Xcursor.theme:	 Neutral
!*font: -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1

! Colores
!----------------------------------------------------------------------
#include "/home/yama/.xres/colors/hybrid_e7"
#include "/home/yama/.xres/fonts/inconsolata"
!#include "/home/yama/.xres/fonts/inconsolata"

! URXVT
!----------------------------------------------------------------------
! Colores
! bold, italic, underline
URxvt.colorBD: #B5BD68
URxvt.colorIT: #B294BB
URxvt.colorUL: #81A2BE
! Fuentes
! Para los caracteres especiales de la línea de powerline es necesario
! una fuente powerline. Inconsolata for powerline los tienes, pero solo
! a tamaño 12.
! Uso el Inconsolata normal, con resguardo de terminespowerline y asi
! funcionan. :)



!URxvt.letterSpace: -1
!URxvt*font: xft:DejaVu Sans Mono for Powerline:size=10
!URxvt*boldFont: xft:DejaVu Sans Mono for Powerline:size=10
!URxvt*italicFont: xft:DejaVu Sans Mono for Powerline:size=10
!URxvt*bolditalicFont: xft:DejaVu Sans Mono for Powerline:size=10

!URxvt*font: xft:terminus:hinting=true:pixelsize=12:antialias=false, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
!URxvt*boldFont: xft:terminus:style=bold:hinting=true:pixelsize=12:antialias=false, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
!URxvt*italicFont: xft:terminus:style=italic:hinting=true:pixelsize=12:antialias=false, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
!URxvt*boldItalicFont: xft:terminus:style=bolditalic:hinting=true:pixelsize=12:antialias=false, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1

! Varios
! URxvt.depth: 32
URxvt.transparent: false
URxvt*scrollBar: false
URxvt.urgentOnBell: True
URxvt.visualBell: False
URxvt*saveLines: 1024
URxvt*mouseWheelScrollPage: true

! Clipboard
URxvt.keysym.C-S-C: perl:clipboard:copy
URxvt.keysym.C-S-V: perl:clipboard:paste
URxvt.keysym.C-S-W: perl:clipboard:paste_escaped
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
! Keyboard-select
URxvt.keysym.C-Escape: perl:keyboard-select:activate
URxvt.keysym.C-S-S: perl:keyboard-select:search
! Url-select
!URxvt.keysym.C-S-U: perl:url-select:select_next
!URxvt.url-select.autocopy: true
!URxvt.url-select.button: 1
!URxvt.url-select.underline: true

!enabling clickable links:
URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select,matcher
urxvt.url-launcher: firefox
urxvt.matcher.button: 1
urxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]

URxvt256c.perl-ext-common: default,clipboard,keyboard-select,url-select,matcher
urxvt256c.url-launcher: firefox
urxvt256c.matcher.button: 1
urxvt256c.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
