# Aliases for .bashrc
# twitch channels
alias santzo='twitch santzo'
alias tftv='twitch tftv'
alias ohn='twitch ohn'
alias prec='twitch prec'
alias dist='twitch dist'
alias gdq='twitch gamesdonequick'
# Check for online channels
alias tcc='twitchnotifier -c tacticcarrotcake -n'

# global aliases
alias l='ls -a'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias g='git'
alias v=vim
alias suvim='sudoedit'
alias rr='rm -rf'
alias pacget='pacaur -S'
alias pacu='pacaur -Syu'
alias py='python'
alias zzz='systemctl suspend'
alias off='systemctl poweroff'
alias stm='DRI_PRIME=1 steam &'
alias steam-wine='WINEDEBUG=-all wine ~/.wine/drive_c/Program\ Files\ \(x86\)/Steam/Steam.exe >/dev/null 2>&1 -no-cef-sandbox &'
alias mkdir='mkdir -p'
alias pstbn='xclip -o | pbpst -S'
alias mpv='DRI_PRIME=1 mpv'

# List aliases
alias lsalias="alias | sed 's/=.*//'"
