# Aliases for .bashrc
# twitch channels
alias santzo='twitch santzo'
alias tftv='twitch tftv'
alias ohn='twitch ohn'
alias prec='twitch prec'
alias dist='twitch dist'
alias gdq='twitch gamesdonequick'

# global aliases
alias l='ls -a'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias g='git'
alias v=vim
alias suvim='sudo vim'
alias rr='rm -rf'
alias pacget='sudo pacman -S'
alias pacu='sudo pacman -Syu'
alias py='python'
alias zzz='systemctl suspend'
alias off='systemctl poweroff'
alias stm='DRI_PRIME=1 steam-native &'
alias steam-wine='WINEDEBUG=-all wine ~/.wine/drive_c/Program\ Files\ \(x86\)/Steam/Steam.exe >/dev/null 2>&1 -no-cef-sandbox &'
alias mkdir='mkdir -p'

# List aliases
alias lsalias="alias | sed 's/=.*//'"
